@import './dh-normalize.css';
@import './dh-colors-root.css';
@import './dh-colors-basics.css';
@import './dh-flex-grid.css';
@import './dh-mortar.css';
@import './dh-panels.css';
@import './dh-forms.css';
@import './dh-buttons.css';
@import './dh-widths-heights.css';
@import './dh-hide-show.css';
@import './dh-text.css';
@import './dh-typography.css';
@import './dh-xOut.css';
@import './dh-border-radius.css';

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

.redline {
  border: 1px solid rgb(255, 70, 70);
  background: pink;
}

.blueline {
  border: 1px solid rgb(59, 59, 255);
  background: rgb(35, 255, 255);
}

::selection {
  color: #000;
  background: #fbd404;
}
