/* load first */
@import './dh-normalize.css';
@import './dh-colors-root.css';
@import './dh-colors-basics.css';
/* load after */
@import './dh-flex-grid.css';
@import './dh-mortar.css';
@import './dh-borders.css';
@import './dh-panels.css';
@import './dh-forms.css';
@import './dh-buttons.css';
@import './dh-widths-heights.css';
@import './dh-hide-show.css';
@import './dh-text.css';
@import './dh-typography.css';
@import './dh-xOut.css';
@import './dh-border-radius.css';
@import './dh-float.css';
@import './dh-outline.css';

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

.redline {
  border: 1px solid hsl(0, 100%, 80%) !important;
  background: hsl(350, 100%, 95%) !important;
}

.blueline {
  border: 1px solid hsl(180, 77%, 68%) !important;
  background: hsl(180, 100%, 90%) !important;
}

.greenline {
  border: 1px solid hsl(125, 100%, 75%) !important;
  background: hsl(120, 100%, 95%) !important;
}

::selection {
  color: #000;
  background: #fbd404;
}
