.block {
  display: block !important;
}

.hide {
  display: none !important;
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.visuallyHidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
