/* .animals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

/* .animal {
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  border: 1px solid goldenrod;
} */
/*
.modal-dialog
  .modal-content
  .modal-body
  form.animalForm
  fieldset
  .form-group
  label {
  margin-bottom: 0 !important;
} */
