.chat {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  background: #efefef;
  box-shadow: inset 0px 0px 3px 0px #d0d0d0;
}

.chatPreview {
  overflow-y: scroll;
  margin-top: auto;
  max-height: 42rem;
}

.chatPreview__message {
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  box-shadow: 2px 2px 4px -4px hsla(0, 0%, 0%, 0.5);
  margin-bottom: 0.25rem;
}

.chatPreview__message p {
  line-height: 1.5;
  margin: 0;
}

.chatPreview__message p:first-of-type {
  font-style: italic;
  color: grey;
  font-size: 0.75rem;
}

.chatPreview__message:nth-child(even) {
  background: rgb(255, 255, 223);
  text-align: right;
}

.chatPreview__message:nth-child(odd) {
  background: var(--teal50);
  text-align: left;
}

.chatPreview__form {
  margin-top: 0.5rem;
}

.chatPreview__form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
}

.chatPreview__form input {
  flex-grow: 1;
  padding: 0.3rem;
  border-radius: 4px;
  border: 1px solid rgb(184, 184, 184);
  outline: none;
}

.chatPreview__form button {
  flex-shrink: 1;
  margin-left: 0.5rem;
  padding: 0.15rem 0.5rem;
  background: var(--teal500);
  border: none;
  color: white;
}

.chatPreview__form button:hover {
  background: var(--teal700);
}
