/* --cyan900: #006064; */

:root {
  --white: white;
  --black: hsl(0, 100%, 6%);
  --primary: hsl(206, 100%, 50%) !important;
  --primary-dk: hsl(206, 100%, 30%);
  --primary-dkr: hsl(206, 100%, 10%);
  --primary-lt: hsl(206, 100%, 70%);
}
