.gridSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0.5rem;
}

.gridSection:last-of-type,
.gridSection:last-of-type,
.gridSection:last-of-type,
.gridSection:last-of-type {
  margin-bottom: 0;
}

.ps-compose-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 0.5rem;
}
