#friendList {
    margin-top: 1em;
}

.friend {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: .5em;
}

#friendForm {
    margin-top: 1em;
}

.user hr {
    border: 0;
    border-top: 1px dotted gainsboro;
    margin: 1em 0 1em 0;
}