@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');
/*  */
@import './dh-common/_dh-main.css';
@import './colors.css';
@import './typography.css';
@import './header-footer.css';
@import './ps-content.css';
@import './links.css';
@import './flex-grid.css';
@import './buttons.css';
@import './forms.css';
@import './modals.css';
@import './common.css';
@import './layout.css';

:root {
  --fontHead: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --fontCopy: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 55rem;
  margin: 0 auto;
}

html {
  font-size: 1.5em;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(0, 0%, 20%);
}

#root {
  display: grid;
  grid-gap: 0em;
  grid-template-rows: 1fr;
}

.dh-container {
  padding: 1rem 1.25rem 0;
  background: whitesmoke;
  background: url(../assets/paper/paper.png);
}

@media (max-width: 700px) {
  .dh-container {
    padding: 0.5rem 0.65rem 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* hr {
  outline: none;
  border: 0.25px solid hsla(0, 0%, 0%, 0.1);
  box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.5);
  margin-bottom: 1rem;
} */
