#login,
#register {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.userAuth {
    width: 300px;
    height: fit-content;
    align-self: center;
}

#login hr,
#register hr {
    border: 0;
    border-top: 1px dotted gainsboro;
    margin: 1em 0 1em 0;
}

#login .tip {
    font-size: 1rem;
    color: rgb(62, 71, 80);
    margin-top: 1em;
}