@import './colors.css';
@import './dh-common/_dh-main.css';
@import './header-footer.css';
@import './typography.css';
@import './flex-grid.css';
@import './news.css';
@import './events.css';
@import './chat.css';
@import './buttons.css';
@import './login-register.css';
@import './friends.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  background: #2a2a2a;
}

.container {
  background: whitesmoke;
}

.box {
  border: 1px solid #e0e0e0;
  border-radius: 0.2rem;
  box-shadow: 0px 2px 10px -10px black;
  padding: 1rem;
  background: white;
}

main {
  /* background: white; */
  max-width: 1200px;
  margin: 0 auto;
  min-height: 500px;
}

.hide {
  display: none !important;
}
