.modal-content {
  box-shadow: 0px 2px 2rem 0 hsla(0, 0%, 0%, 0.5);
}

.modal-dialog {
  /* font-size: 80%; */
}

.modal-dialog .modal-footer button:first-of-type {
  margin-top: auto;
  /* font-size: 80%; */
}

.modal-open {
  /*  */
}

.modal {
  /* top: 4.4rem; */
}

.modal-content .animal,
.modal-content .employee,
.modal-content .location,
.modal-content .customer {
  transform: none;
  border: none;
  box-shadow: none;
  padding: 0;
  cursor: initial;
}

.modal-content .animal:hover,
.modal-content .employee:hover,
.modal-content .location:hover,
.modal-content .customer:hover {
  transform: none;
  border: none;
  box-shadow: none;
  padding: 0;
  cursor: initial;
}
