h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.25rem;
  color: var(--primary-dk);
  font-weight: 600;
  font-family: var(--font-head);
  letter-spacing: 0.05ch;
}

h1 {
  font-size: 125%;
}

h2 {
  font-size: 115%;
}

h3 {
  font-size: 110%;
}

h4 {
  font-size: 100%;
}

h5 {
  font-size: 90%;
}

h6 {
  font-size: 85%;
}

p,
ol,
ul,
li {
  font-size: 80%;
  margin: 0 0 0.5rem;
}

p:first-of-type,
ol:first-of-type,
ul:first-of-type,
li:first-of-type {
  margin-top: 0rem;
}

p:last-of-type,
ol:last-of-type,
ul:last-of-type,
li:last-of-type {
  margin-bottom: 0rem;
}
