:root {
  --blue-gray50: #eceff1;
  --blue-gray100: #cfd8dc;
  --blue-gray200: #b0bec5;
  --blue-gray300: #90a4ae;
  --blue-gray400: #78909c;
  --blue-gray500: #607d8b;
  --blue-gray600: #546e7a;
  --blue-gray700: #455a64;
  --blue-gray800: #37474f;
  --blue-gray900: #263238;
}
