.ps-compose-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0.5rem;
}

.ps-people {
  /*  */
}

.ps-invited {
  border: 1px solid hsla(0, 0%, 50%, 0.432);
  border-radius: 0.5rem;
  font-size: 80%;
  line-height: 1;
  padding: 0.25rem 0.5rem;
}
