.ps-compose-grid {
  display: grid;
  grid-template-areas:
    'partyspace partyspace partyspace partyspace'
    'people venues venues venues';
  grid-gap: 0rem;
  /* grid-template-rows: auto; */
}

.partyspaces {
  grid-area: partyspace;
}

.ps-compose-grid .partyspaces .box.partyspace {
  /* border: 1px solid var(--primary-dk); */
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 8px 8px -4px hsla(0, 0%, 0%, 0.2);
}

.ps-invites {
  grid-area: people;
  /* padding: 1rem; */
  /*  */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.ps-venues {
  grid-area: venues;
  z-index: 0;
}

.ps-people {
  /* background: red; */
  width: 90%;
  padding-top: 1rem;
}

.ps-invited {
  /* border: 1px solid hsla(0, 44%, 40%, 0.25); */
  border: none;
  border-radius: 1rem;
  font-size: 70%;
  line-height: 1;
  padding: 0.3rem 0.3rem 0.3rem 0.5rem;
  letter-spacing: 0;
  margin-bottom: 0.25rem;
  cursor: pointer;
  background: var(--white);
  /*  */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.ps-invited:hover {
  background: var(--primary-ltr);
  box-shadow: 0px 1px 2px hsla(0, 0%, 0%, 0.25);
}

.ps-invited:hover .exOut {
  color: white;
}

.ps-invited .exOut {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 20px;
  color: var(--gray300);
  cursor: pointer;
  text-align: center;
  font-size: 0.8rem;
  line-height: 0.9;
  font-family: helvetica;
}

.ps-invited .exOut:hover {
  background: hsla(0, 100%, 50%, 0.62);
  color: var(--white);
}

.ps-venues {
  padding: 1rem 2rem 1rem 1rem;
  border-left: 1px solid var(--primary-dk);
  position: relative;
  left: 1rem;
}

.venue {
  margin-bottom: 0.25rem;
  position: relative;
}

.venue::after {
  content: '⎯⎯⎯⎯⎯⎯⎯⎯';
  position: absolute;
  top: 0.4rem;
  left: -1.05rem;
  z-index: -1;
  font-size: 0.5rem;
  /* transform: rotate(45deg); */
  letter-spacing: -0.05ch;
  color: var(--primary-dk);
}

.venue::before {
  content: '●';
  position: absolute;
  top: 0.017rem;
  left: -1.37rem;
  z-index: -1;
  font-size: 1rem;
  /* transform: rotate(45deg); */
  letter-spacing: 0;
  color: var(--primary-dk);
}

.venue:hover {
  background: var(--gray50);
  cursor: pointer;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
}

.ps-doneBox {
  width: 6rem;
  background: var(--primary-ltr);
  padding: 1rem;
  font-size: 0.85rem;
  text-align: center;
  border-radius: 0.25rem;
  margin-bottom: auto;
  margin-top: 0.25rem;
  /*  */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ps-doneBox button {
  border-radius: 0.25rem;
  font-size: small;
  margin-top: 0.5rem !important;
}

.ps-doneBox button:hover {
  border-radius: 0.25rem;
  font-size: small;
  margin-top: 0.5rem !important;
}

.ps-doneBox p {
  text-align: center !important;
}
